.background_container {
    background-color: rgb(var(--clr-neutral-1));
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    grid-column: 1/2;
    grid-row: 1/2;
}

.header_container {
    display: flex;
    background-color: rgb(var(--clr-primary-1));;
    height: 150px;
    background-image: url('/assets/images/bg-header-desktop.svg');
    background-repeat: repeat-x;
    background-position: right;
    background-size: auto 150px;
}
