.text_container {
    border-bottom: 1px solid rgb(var(--clr-neutral-3));
    padding-bottom: 1em;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
    gap: 1em;
}

.company {
    color: rgb(var(--clr-primary-1));;
    font-weight: var(--fw-heavy);
    grid-column: 1/2;
}

.role {
    color: rgb(var(--clr-neutral-4));
    font-weight: var(--fw-heavy);
    font-size: 1.2rem;
    grid-column: 1/3;
    cursor: pointer;
}

.role:active,
.role:focus,
.role:hover {
    color: rgb(var(--clr-primary-1));
}

.facts {
    color: rgb(var(--clr-neutral-3));
    font-weight: var(--fw-light);
    grid-column: 1/3;
}

.header_container {
    display: flex;
    align-items: center;
    gap: 2em;
}

.tag_container {
    grid-column: 2/3;

    display: flex;
    gap: 0.5em;
}

@media (min-width: 750px) {
    .text_container {
        border-bottom: none;
        padding-block: 0;
        gap: 0.5em;
    }
}