.content_container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 2em;
    padding-top: 5em;

    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
}