/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
    font-family: 'League Spartan', sans-serif;
}

/* Reset End */

/*
  Custom Variables
*/
:root {
    --clr-primary-1: 91, 164, 164;
    
    --clr-white: 251, 251, 254;

    --clr-neutral-1: 239, 250, 250;
    --clr-neutral-2: 238, 246, 246;
    --clr-neutral-3: 123, 142, 142;
    --clr-neutral-4: 44, 58, 58;

    --fs-body: 15px;

    --fw-light: 500;
    --fw-heavy: 700;
}

